
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333333;
}

nav {
    background-color: #1c1c1c;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul a:hover {
    background-color: #4CAF50;
    color: #ffffff;
}

.container {
    padding: 100px 20px;  /* Adjusted padding to account for the nav bar */
    max-width: 800px;
    margin: auto;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 150px;
    margin-bottom: 20px;
    border: 5px solid #4CAF50;
}

.bibliography {
    max-width: 95%; /* Adjust the max-width as needed */
    margin: auto;
}

.publication {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.publication-title {
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 460px;
    width: 98%;
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.2);
    padding: 12px 20px;
    z-index: 1;
    border-radius: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.publication a {
    color: #4CAF50;
    text-decoration: none;
}

.publication a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s;
}

footer ul a:hover {
    color: white;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    .container {
        padding: 150px 20px 20px;  /* Increased top padding for mobile view */
    }

    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
