
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333333;
}

.navbar {
    background-color: #1c1c1c;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 20px;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar li a:hover {
    background-color: #4CAF50;
    color: #ffffff;
}

.navbar li a.active {
    background-color: #4CAF50;
}

.content {
    padding: 80px 20px;
    max-width: 800px;
    margin: auto;
}

.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 150px;
    margin-bottom: 20px;
    border: 5px solid #007903;
}

h1, h2 {
    text-align: center;
    color: #007903;
}

p {
    text-align: justify;
    line-height: 1.8;
}

.media-logos {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.media-logos a {
    color: #007903;
    margin: 0 10px;
    transition: color 0.3s;
}

.media-logos a:hover {
    color: #1c1c1c;
}

.bibliography {
    max-width: 95%; /* Adjust the max-width as needed */
    margin: auto;
}

.publication {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.publication-title {
    font-weight: lighter;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(242, 246, 244, 0.99);
    min-width: 560px;
    width: 98%;
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.2);
    padding: 12px 20px;
    z-index: 1;
    border-radius: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}




footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s;
}

footer ul a:hover {
    color: white;
}






@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    .container {
        padding: 150px 20px 20px;  /* Increased top padding for mobile view */
    }

    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
