<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
			<a href="/pubs">Publications</a> |
			<a href="/cv/">CV</a> |
			<a href="/about">About</a> |
			<a href="/projects">Projects</a>
    		</ul>
		</nav>
		<div class="container">

			{{ content }}
			</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:roberto.rocchetta88@gmail.com">email</a></li>
        		<li><a href="https://github.com/Roberock">github.com/Roberock</a></li>
			</ul>
		</footer>
	</body>
</html>
